%tr#winner
  %td
    %table
      %tr
        %td
          - if @game.winner.present?
            Winner:
            %span.player
              = link_to @game.winner.name, play_player_path(@game.winner)
          - else
            = "Turn: "
            - if @game.turn == @current_player
              %span.player #{@current_player.name}
            - else
              %span.player #{@game.opponent(@current_player).name}
