%h1
  Welcome to Nautical War, #{@player.name}
%p
  Please click here to confirm your email:
  %br/
  %br/
  = link_to confirm_url(token: @player.confirmation_token), confirm_url(token: @player.confirmation_token)
  %br/

%p
  Thanks,
  %br/
  Nautical War Support
