%h1
  Dear #{@player.name},
%p
  Click here to reset your Nautical War password:
  %br/
  %br/
  = link_to reset_url(token: @player.password_token), reset_url(token: @player.password_token)
  %br/
  %br/
