
%h1{ style: 'text-align: center; font-family: Arial, sans-serif' }
  %p &nbsp;
  %p &nbsp;
  NauticalWar Confirmation Complete
  %p
    %a{ href: ANDROID_URL, style: 'color: #008' } Click To Continue
