
%h1{ style: 'text-align: center; font-family: Arial, sans-serif' }
  %p.mobile
    &nbsp;
    NauticalWar
    %br/
    - if params && params[:token]
      Password Update
    - else
      NauticalWar Confirmation Complete
  %p.mobile
    - if params && params[:token]
      %a{ href: "#{ANDROID_URL}?token=#{params[:token]}" } Click To Reset Password
    - else
      %a{ href: ANDROID_URL } Click To Continue
