@import 'bootstrap';

@font-face {
  font-family: 'Championship';
  src: url(asset_path('Championship.ttf')) format('truetype');
}

@font-face {
  font-family: 'russo-one';
  src: url(asset_path('russo-one.ttf')) format('truetype');
}

body
{
  background: #061B34 url(asset_path('play/water_blue.jpg')) fixed no-repeat;
  background-size: cover;
}

.preload {
  display: none;
}

.card {
  font-family: 'russo-one', monospace;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.card-trans {
  background: rgba(0, 0, 0, 0.4);
  border: dotted aqua 1px;
}

.card-body-trans {
  background: rgba(0, 0, 0, 0.4);
}

.card {
  label {
    color: #fff;
    font-size: 1.2em;
  }
}

.nw-title {
  font-family: "Championship", sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  padding: 0;
  margin: 0 0 -12px 0;
}

li.nw-title.nav-modal {
  font-size: 2.8em;
}

.navbar-brand.nw-title {
  font-size: 1.8em;
  padding: 0 20px 0 0;
  margin: 0 0 -7px -4px;
}

nav.navbar {
  background: rgba(64, 255, 255, 0.2);
  min-width: 300px;
  font-family: 'russo-one', monospace;
  letter-spacing: 1px;
  min-height: 57px;
}

nav.nw-navbar {
  background: rgba(64, 255, 255, 0.2);
  border-bottom: dotted aqua 1px;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'russo-one', monospace;
  font-size: 1.0em;
  line-height: 1.0em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: rgba(255, 255, 255, 1.0);
}

p.info {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-family: 'russo-one', monospace;
  letter-spacing: 1px;
  margin: 10px 0 0 10px;

  a {
    color: #ccc;
    text-decoration: underline;
  }

  a:hover {
    color: #fff;
  }
}

table.list {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
}

table.list td {
  color: #fff;
}

table#players tr:hover {
  cursor: pointer;
}

td.info {
  vertical-align: middle;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  font-family: 'russo-one', monospace;
  letter-spacing: 1px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

td.rank {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 8px 10px 8px;
  text-align: center;
  width: 1%;
}

img.rank {
  height: 56px;
  width: auto;
}

.center {
  text-align: center;
}

.tight {
  line-height: 1.1em;
}

.player-name {
  font-size: 1.2em;
  font-weight: bold;
}

.player-name-guest {
  font-size: 1.2em;
  font-weight: bold;
  color: #af0;
}

.player-rank, table.list td.player-rank {
  font-size: 0.9em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #ee0;
}

.game-player-name {
  font-size: 0.9em;
  font-weight: bold;
}

.rating {
  color: aqua;
}

.wins {
  color: #0f0;
}

.losses {
  color: red;
}

.last {
  float: right;
}

.ratings {
  font-size: 0.8em;
  color: #aaa;
}

.versus {
  color: aqua;
}

.status {
  font-size: 0.8em;
}

.layout-fleet {
  font-weight: bold;
  color: #f00;
}

.time-limit {
  font-weight: bold;
  color: #f00;
}

table.search {
  width: 100%;
}

td.search-field {
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
}

td.search-field input {
  background: transparent;
  border: none;
  border-bottom: 1px solid aqua;
  width: 100%;
  box-sizing : border-box;
  color: #fff;
  padding: 3px;
  font-size: 1.2em;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

table.buttons, table.player-buttons {
  background: rgba(0, 0, 0, 0.4);
}

table.player-buttons td {
  padding: 5px 0 5px 5px;
  font-family: 'russo-one', monospace;
}

table.max {
  width: 100%;
}

table.buttons td {
  padding: 5px;
}

table.player-invite {
  width: 100%;
}

table.player-invite td {
  color: #121212;
}

table.game-info {
  background: rgba(0, 255, 255, 0.3);
  border-left: 1px dotted aqua;
  border-right: 1px dotted aqua;
  border-bottom: 1px dotted aqua;
}

table.game-info tr > td {
  padding: 4px 4px 0 4px;
  td { padding: 5px; }
}

table.game-info tr td > table {

  td {
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    padding: 5px 0 2px 5px;
    color: #ddd;
    font-size: 1.1em;
    line-height: 1.1em;
    font-family: 'russo-one', monospace;
    letter-spacing: 1px;

    span.player {
      a { color: #e48f00; }
      a:hover { color: #fa0; }
    }
  }

  td.game-icons {
    font-family: serif, normal;
    padding: 0 4px 0 0;
    text-align: right;

    img {
      margin-top: -5px;
    }
  }

  tr:last-child td {
    padding-bottom: 6px;
  }
}

table.game-info tr.fill {
  height: 99%;
}

td.fill, table.game-info tr td.fill {
  width: 99%;
}

span#shots_left {
  color: #e48f00;
}

td.nowrap {
  white-space: nowrap;
}

#ship_patrol_boat, #ship_submarine, #ship_destroyer, #ship_battleship, #ship_carrier,
  .shot, .move {
  position: absolute;
}

p.error {
  color: #f00;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
  padding: 2px 0 0 2px;
}

#nav-modal {
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background: #fff;
}

.modal-title {
  font-family: 'russo-one', monospace;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}

.modal-body {
  font-family: 'russo-one', monospace;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}

.modal-footer {
  font-family: 'russo-one', monospace;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  margin-right: 0;
}

.modal-nav-content {
  width: 100%;
  height: auto;
}

.modal-nav-body {
  margin-top: 100px;
}

.modal-nav-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-nav-body ul li {
  text-align: center;
  padding: 0 0 20px 0;
}

.modal-dialog a.modal-link {
  pointer-events: all;
  text-decoration: none;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  text-transform: none;
  font-size: 1.5em;
  font-family: 'russo-one', monospace;
  letter-spacing: 2px;
}

.account-type {
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
  font-size: 1.1em;
}

p.white {
  color: #fff;
}

a.white {
  color: #ccc;
  font-family: 'russo-one', monospace;
  letter-spacing: 1px;
  font-size: 0.9em;
}

a.white:hover {
  color: #fff;
}

.grid-wrapper {
  float: left;
}

.grid {
  border-left: 1px dotted aqua;
  border-bottom: 1px dotted aqua;
  padding: 0 1px 1px 0;
}

.btn {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 300px) {
  table.game-info, table.buttons, .grid { width: 300px; }
  .grid { height: auto; }
}

@media only screen and (min-width: 301px) and (max-width: 511px) {
  table.game-info, table.buttons, .grid { width: 100%; }
  .grid { height: auto; }
}

@media only screen and (min-width: 512px) {
  table.game-info, table.buttons, .grid { width: 512px; }
  .grid { height: auto; }
}

@media only screen and (max-width: 1024px) {
  .grid { border-right: 1px dotted aqua; }
}

@media only screen and (min-width: 1024px) {
  table.game-info { height: 512px; }
}
