.container-fluid
  %p
  .row
    .col-md-12
      .card.card-trans
        .card-body.card-body-trans.account-type
          %p Confirm your email address:
          %form{ action: confirm_email_play_players_path, method: :post }
            %input{ name: :utf8, type: :hidden, value: '✓' }
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .form-group
                %label.control-label{ for: :email } Email
                %input#email.form-control{ name: :email, placeholder: 'Email', type: :email, value: '' }
              .form-group
                %button.btn.btn-primary{ type: :submit, id: :submit }
                  Locate Email

  .row
    .col.text-center
      %br/
      %p
        = link_to 'Signup', new_play_player_path, class: 'badge badge-light'
        = link_to 'Login', new_play_session_path, class: 'badge badge-light'

  .row
    .col.text-center
      = link_to 'NauticalWar.com', root_path, class: 'white'
    %p &nbsp;
